@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;800;900;1000&display=swap');

* {
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .card {
  width: 200px;
  height: 200px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 10px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card img {
  width: 61%;
  height: 61%;
}

.types {
  border-radius: 3px;
  text-transform: none;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 9px;
}

.id {
  font-weight: 400;
  font-size: 14px;
  color: #212121;
}

.name {
  text-transform: capitalize;
}

.type {
  padding: 3px 17px;
  border-radius: 3px;
  background-color: rgba(150, 143, 143, 0.5);
  mix-blend-mode: multiply;
  color: #212121;
}

.n1{
  background: #898989;
}
.n2{
  background: #a5afde;
}
.n3{
  background: #c1b1a3;
}
.n4{
  background: #d0d0d0;
}
.n5{
  background: #b5f6b8;
}
.n6{
  background: #f7bde0;
}
.n7{
  background: #c2a5de;
}
.n8{
  background: #f6a5a5;
}
.n9{
  background: transparent;
}
.n10{
  background: #fff4b9;
} */

/* ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px
}

.group-colors{
  display: flex;
	padding: 10px;
  justify-content: center;
  gap: 3px
} */
/* .radio-selector{
  display:flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 0.375em 0.75em 0.375em 0.375em;
		border-radius: 99em;
}
.radio-selector:hover, .radio-selector:has(> input[type="radio"]:checked){
  background-color: #ffe6e2; 
}

input[type="radio"]{
  width: 1.3em;
  height: 1.3em;
  accent-color: tomato;
} */

/* input[type="search"]{
  height: fit-content;
  width: 50%;
  padding: 6px;
  font-size: 1.3rem;
  letter-spacing: 2px;
  border-style: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  border-radius: 25px;
  margin-bottom: 20px;
} */

/* label{
  text-transform: capitalize;
} */